.download-btn {
    --padding-ref: -1em;
	z-index: 10;

	position: absolute;
	width: 45px;
	height: 45px;

	transform: translate(calc(var(--padding-ref) + -16px), calc(var(--padding-ref) + -16px)) scale(1);

	display: flex;
	justify-content: center;
	align-items: center;

	background: #3559ea;
	border-radius: 3rem;

	cursor: pointer;

	&.downloading {
		display: none;
		transform: none;
	}

	svg {
		fill: white;
		width: 1rem;
	}

	&:hover {
		transform: translate(calc(var(--padding-ref) + -16px), calc(var(--padding-ref) + -16px)) scale(0.9);
	}
	transition: 0.32s transform ease;
}