.instagram {
    --padding-ref: -1.4em;
	max-width: 400px;
    background: white;
    padding: 1em;
    padding-bottom: 0em;

	.share--content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;

		img, video {
			margin-bottom: 12px;
		}

		& > video {
			margin-bottom: 12px;
		}
	}

	img {
		margin-bottom: 0px;
	}

	video {
		max-width: 400px;
	}

	.caption {
        font-size: 12px;
        
        align-self: flex-start;

		&.disabled {
			display: none;
		}
	}

	.carousel-wrapper {
        position: relative;
        display: flex;
        overflow: hidden;

		.prev,
		.next {
            position: absolute;

            display: flex;
            justify-content: center;
            align-items: center;
            
            z-index: 10;

			width: 22px;
			height: 22px;

			border-radius: 1em;

            background: rgba(165, 167, 170, 0.6);
			opacity: 0.35;
			transition: 0.1s opacity ease;

			&:hover {
				opacity: 1;
            }
            
            svg {
                width: 12px;
                fill: rgb(50, 50, 50);
            }

			cursor: pointer;
		}
		.prev {
			left: 0;
            top: 50%;
            
            svg {
                transform: rotate(180deg);
            }

			margin-left: 8px;
		}
		.next {
			right: 0;
            top: 50%;
            

			margin-right: 8px;
		}

        .carousel {
            transform: translateX(calc(var(--perspective) * -1));

            transition: 0.6s transform;
        }

		.carousel .viewport {
            display: flex;
            
            max-width: 400px;
			max-height: 600px;
			
			* {
				flex-shrink: 0;
			}
        }
	}
}